.main-title{
    position: static;
    left: 50px;
    overflow: hidden;
}


.title_1 
{
    font-family: 'Yeseva One';
    color: #0e3502;
    font-size: 60px;
    text-align: center;
    margin: 20px;
    letter-spacing: 15px;
}

.about{
    padding: 20px;
    background: ghostwhite;
    box-shadow: 0 .5rem 1.5rem rgba(0,0,0,.1);
}

.slide{
    display: flex;
    align-items: center;
}


.content{
    width: 100%;
    float: right;
}


.content p{
    font-family: 'Alegreya', serif;
    text-align: justify;
    color: black;
    font-size: 20px;
    margin-top: 10px;
    line-height: 1.5;
}

.content li{
    list-style: square;
    margin-left: 30px;
    font-family: 'Alegreya', serif;
    font-size: 20px;
}

.row-2 {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
    padding-bottom: 10px;
}

.column-2 {
    flex: 25%;
    padding: 0 4px;
}

.column-2 img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
}

/* APPLYING MEDIA QUERIES */
@media (max-width: 700px) {
    .title_1{
        font-size: 50px;
        letter-spacing: 10px;
    }

    .slide{
        display: flex;
        padding-left: 0px;
        
    }

    .content{
        width: 100%;
    }

    .content p{
        font-size: 20px;
    }

    .content li{
        list-style: square;
        margin-left: 25px;
        font-family: 'Alegreya', serif;
        font-size: 20px;
    }
}